body {
    font-family: monospace, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('rovers.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

h3, p, .message-box {
    text-align: center;
    text-shadow: 2px 2px 2px rgb(243, 243, 243);
}

.message-box {
    font-size: xx-large;
}

#play-again-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    font-family: monospace;
    font-size: large;
    font-weight:bolder ;
    padding: 10px 30px;
    margin: 15px;
    background-color: #a4340fcd;
    border-color: #513403a0;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    box-shadow: 2px 2px 5px #2f2e2c;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}


button:hover {
    background-color: #dd1c02c5;
    border-color: #2e0704a2;
}

#map-container {
    width: 700px;
    display: flex;
    margin: auto;
    flex-direction: row;
    align-items: center;
    background-color: rgba(222, 184, 135, 0.713);
    padding: 10px;
    box-shadow: 5px 5px 7px #3e1e0775;
    border-radius: 25px;
}

.footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    /*background-color: #9a72725c;*/
    color: rgb(95, 27, 59);
    text-align: center;
    padding: 5px;
}

.glitch {
    text-align: center;
}


#grid-container {
    display: grid;
    gap: 10px;
    max-width: 60%;
    max-height: 60%;
    border: 1px solid #d9420aa4;
    padding: 8px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #3e1e0775;
}

.grid-item {
    background-color: #c07244b0;
    border: 1px solid  #d9420aa4; 
    border-radius: 5px;
    padding: 1px; /* Espacio interior del cuadro */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 7px #3e1e0775;
}


.grid-image {
    width: 100%; /* Asegura que la imagen ocupe todo el espacio del elemento padre */
    height: 100%;
    object-fit: contain; /* Escalar la imagen para que llene el espacio sin distorsionarla */
    
}


#button-container {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10px;
}

#grid-container {
    flex: 1; /* Utiliza flex para que la grilla ocupe el espacio restante */
}

#win-overlay {
    display: none;
    margin: auto;
    justify-content: center;
    align-items: center;

}

.winner-image {
    margin-top: 10%;
    margin-bottom: 10%;
    margin-right: 45%;
}

#init {
    display: grid;
}


#play-again {
    display: none;

    margin-top: 9%;
    margin-bottom: 9%;
    justify-content: center;
    align-items: center;

    background-color: rgba(222, 184, 135, 0.713);
    border-radius: 10px;

}

/*.spinner {
    display: flex;
    justify-content: center; 
    align-items: center;

    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: #f56e00;
    mask: radial-gradient(circle closest-side at 50% 40%,#0000 94%, #000);
    /*-webkit-mask: radial-gradient(circle closest-side at 50% 40%,#0000 94%, #000);
    transform-origin: 50% 40%;
    animation: spinner-pl92zb 1s infinite linear;
 }
 
 @keyframes spinner-pl92zb {
    100% {
       transform: rotate(1turn);
    }
 }*/
 
 .spinner {
    margin-left: 45%;
    margin-top: 5%;
    margin-bottom: 18%;
    position: relative;
    width: 80px;
    height: 80px;
    animation: spinner-3a5251 1.75s infinite linear;
 }
 
 .spinner div {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    border-left: 4.6px solid transparent;
    border-right: 4.6px solid transparent;
    border-bottom: 13.8px solid #8f0641;
    transform-origin: center 13.8px;
 }
 
 .spinner div:before,
 .spinner div:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    display: block;
    border-left: 13.8px solid transparent;
    border-right: 13.8px solid transparent;
    border-bottom: 9.2px solid #8f0641;
 }
 
 .spinner div:before {
    transform: translate(-13.8px, 9.2px) rotate(35deg);
 }
 
 .spinner div:after {
    transform: translate(-13.8px, 9.2px) rotate(-35deg);
 }
 
 .spinner div:nth-child(1) {
    transform: translate(-50%, -13.8px) rotate(51.42857deg) translate(0, 320%);
 }
 
 .spinner div:nth-child(2) {
    transform: translate(-50%, -13.8px) rotate(102.85714deg) translate(0, 320%);
 }
 
 .spinner div:nth-child(3) {
    transform: translate(-50%, -13.8px) rotate(154.28571deg) translate(0, 320%);
 }
 
 .spinner div:nth-child(4) {
    transform: translate(-50%, -13.8px) rotate(205.71429deg) translate(0, 320%);
 }
 
 .spinner div:nth-child(5) {
    transform: translate(-50%, -13.8px) rotate(257.14286deg) translate(0, 320%);
 }
 
 .spinner div:nth-child(6) {
    transform: translate(-50%, -13.8px) rotate(308.57143deg) translate(0, 320%);
 }
 
 .spinner div:nth-child(7) {
    transform: translate(-50%, -13.8px) rotate(360deg) translate(0, 320%);
 }
 
 @keyframes spinner-3a5251 {
    to {
       transform: rotate(360deg);
    }
 }
 